Procesamiento de datos del tercer fomulario. El que hice en la RAFA 2016

Los datos originales estan aca:

https://github.com/IoniUTDT/Magia/tree/master/FormularioAFA

In [ ]:
%load_ext autoreload
%autoreload 2
from IPython.display import display
import sys
import pandas as pd
sys.path.append("..")
import leerCSV
archivosOriginales = ['data_CBCBio07','data_CBCF03Ariel','data_Dia1','data_Dia2','data_Dia3SinTocar','data_MarchaCyT','data_Micro']
data = pd.DataFrame
for file in archivosOriginales:
    dataTemp = leerCSV.leerCSV ('./'+file+'.csv','Codigos.txt')
    dataTemp['Origen'] = file 
    if data.empty:
        data = dataTemp
    else:
        data = pd.concat ([data,dataTemp])
#data = leerCSV.leerCSV ('./data_Micro.csv','Codigos.txt')
data.to_csv('data.csv')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [55]:
data.head()

,questionnaire_id,global_id,Edad,Profesion,Estudios,Calor1,Telequinesis1,Magnetismo1,Cosmica1,Cuantica1,...,Reparar,Programar,Correr,Acertijos,Astrologia,Deportes,Debatir,Magia,Electronica,Origen
0,['35166'],1003,18-24,Cs_Medicas,Secundaria,Podria,NS/NC,Es,NS/NC,NS/NC,...,2,2,3,2,1,4,3,2,2,data_CBCBio07
1,['38928'],1003,18-24,Cs_Medicas,Univ en curso,Podria,NS/NC,NS/NC,NS/NC,NS/NC,...,2,1,3,3,2,3,3,2,3,data_CBCBio07
2,['18316'],1003,18-24,Cs_Medicas,Univ en curso,NS/NC,NS/NC,Es,Podria,NS/NC,...,2,3,3,1,1,Null,NS/NC,4,3,data_CBCBio07
3,['36677'],1003,18-24,Cs_Medicas,Univ en curso,Es,NS/NC,Podria,NS/NC,NS/NC,...,3,3,3,2,4,4,4,2,2,data_CBCBio07
4,['16256'],1003,18-24,Cs_Medicas,Secundaria,NS/NC,NS/NC,Podria,NS/NC,Podria,...,3,1,3,2,1,3,4,1,2,data_CBCBio07

In [19]:
'''
Ejecutamos codigo complementario para terminar de ordenar la info leida del CSV
En el codigo anterior tranformamos los indices genericos y las entradas dummy en algo mas razonable,
pero alguna info queda mal agrupada.
'''

import numpy as np

# Leemos el archivo con las indicaciones extras
with open('Codigos2.txt') as f:
	lineas = f.readlines()

	grupos = []
	subGrupo = []

	for linea in lineas:
		if linea == "\n":
			grupos.append(subGrupo)
			subGrupo = []
		else:
			subGrupo.append(linea.split('\n')[0])
	if not subGrupo == []:
		grupos.append(subGrupo)

for subGrupo in grupos:
    if subGrupo[1] == 'ReagruparEsPodria':
        encabezados = subGrupo[3:]
        columna = subGrupo[2]
        data[columna] = "Ns/Nc"
        for encabezado in encabezados:
            data[columna] = [encabezado[:-1] if y == "Es" and x == "Ns/Nc" else x for x,y in zip(data[columna],data[encabezado])]
        
        
#display(data.head())
#display(data['2_2_1'])

TypeError: 'type' object does not support item assignment

In [6]:
import pandas as pd
print (encabezados)
print (data[encabezados].apply(pd.value_counts()))
#data['Justificacion1']

['Calor1', 'Telequinesis1', 'Magnetismo1', 'Cosmica1', 'Cuantica1', 'Presion1', 'Aura1', 'Electricidad1', 'Poderes1', 'NoLoSe1']

TypeError: value_counts() missing 1 required positional argument: 'values'

In [7]:
dataTemp.

,questionnaire_id,global_id,2_3_0,2_4,3_1_1_0,3_1_1_1,3_1_2_0,3_1_2_1,3_1_3_0,3_1_3_1,...,Telequinesis1_Escala,Magnetismo1_Escala,Cosmica1_Escala,Cuantica1_Escala,Presion1_Escala,Aura1_Escala,Electricidad1_Escala,Poderes1_Escala,NoLoSe1_Escala,Origen
0,['49003'],1003,0,8,0,1,0,0,0,0,...,7,5,7,7,1,7,4,7,1,data_Dia1
1,['27446'],1003,0,4,0,0,0,0,0,0,...,5,3,4,7,0,0,2,6,5,data_Dia1
2,['24848'],1003,1,10,0,0,0,0,0,0,...,7,6,7,7,7,7,0,7,0,data_Dia1
3,['21792'],1003,0,10,0,0,0,0,0,0,...,1,1,4,4,4,1,2,0,0,data_Dia1
4,['35625'],1003,0,0,0,0,0,0,0,0,...,1,3,0,3,1,0,0,0,0,data_Dia1